{% extends 'tweets/base.html' %}

{% block title %} Tweets {% endblock title %}
 {% block content %}

<div class="row text-center">
    <div class="column">
        <h3>Welcome Alpha Chat</h3>
    </div>
</div>

<div class = "row" >
       <div id="demo">
        Loading...
       </div> 
</div>
<script>
    const tweetsElements = document.getElementById("demo")
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets/tweet_view'
    const responseType = 'json'
    
    function handleLikeId(tweet_id,currentCount){
        console.log(tweet_id,currentCount)

    }
    function likeButton(tweet){
        
        return "<button class= 'btn btn-primary btn-small' onclick = handleLikeId("+ tweet.id + "," + tweet.likes+ ")>" + tweet.likes + "  Likes</button>"

    }
// Tweet model Formatting
    function formatTweetModel(tweet){
        var formatedTweet = "<div class ='col-12 border-bottom border-top py-3 mb-4 tweet' id='tweet-id" + tweet.id + "'><p>" + tweet.content + 
        "</p><div class = 'btn-group ' >" + likeButton(tweet) + 
             "</div></div>"
        return formatedTweet
    }

xhr.responseType = responseType
xhr.open(method,url)
xhr.onload = function () {
    const serverResponse = xhr.response
    const listedItems = serverResponse.response // array 
    let finalTweetsStr = ""
    var i;
    for (i=0;i<listedItems.length;i++){
        var tweetObj = listedItems[i] 
        var currentItem = formatTweetModel(tweetObj)
        finalTweetsStr += currentItem
    }
    tweetsElements.innerHTML = finalTweetsStr
}
xhr.send()

</script>
{% endblock content %}